*{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ul{ 
    list-style: none;
}
a{
    text-decoration: none;
}
/*FONTS*/
@font-face {
    font-family: 'Abril';
    src: url('../Fonts/AbrilFatface-Regular.eot');
    src: url('../Fonts/AbrilFatface-Regular.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/AbrilFatface-Regular.woff2') format('woff2'),
        url('../Fonts/AbrilFatface-Regular.woff') format('woff'),
        url('../Fonts/AbrilFatface-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montit';
    src: url('../Fonts/Montserrat-ThinItalic.eot');
    src: url('../Fonts/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Montserrat-ThinItalic.woff2') format('woff2'),
        url('../Fonts/Montserrat-ThinItalic.woff') format('woff'),
        url('../Fonts/Montserrat-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montnor';
    src: url('../Fonts/Montserrat-Thin.eot');
    src: url('../Fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../Fonts/Montserrat-Thin.woff') format('woff'),
        url('Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
/********Fin fonts*****/

/********HEADER*********/
header{
    border: 1px solid black;
    height: 100vh;
    background: url(../img/chuttersnap-9G1kXjqOq4U-unsplash\(1\).jpg) center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #000;
    display: flex;
    justify-content: space-between;
    padding:10px;
}

header nav ul{
    display: flex;
}
header nav ul li{
    margin-right: 10px;
}
header nav ul li a{
    text-transform: uppercase;
    font-family: "Montnor" ;
    font-weight: 600;
    font-size: 16px;
    color: white;
    margin: 0 20px;
}
header h1{
    color: white;
    text-align: center;
    font-size: 200px;
    text-transform: capitalize;
    font-family: "Abril";
}
header h1::first-letter{

}
/********Fin HEADER*********/


/**********MAIN*************/
/****Section 1*****/
section{
    padding: 100px 0;
    text-align: center;
}

h2{
    font-family:"Abril";
    font-size: 50px;
    color: #555;
    text-transform: uppercase;
}
h3{
    font-family:"Abril";
    font-size: 16px;
    color: #546B22;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
p{
    margin: 0px auto;
    width: 70%;
    font-family:"Montnor";
    font-size: 16px;
    color: #555;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.images>div img{
    height: 100px;
    border-radius: 50%;
    margin: 25px;
}


/******Section 2*****/
.deuxieme{
    background: #EDE6DD;
    display: flex;
    justify-content: center;
}
.deuxieme>div:first-of-type{
    width: 40%;
}
.deuxieme>div>p,.deuxieme>div>h2,.deuxieme>div>h3{
    margin: 10px 100px;
}
.deuxieme>div:last-of-type{
    margin-top: 100px;
    background: #EDE6DD;
    width: 40%;
    text-align: left;
}

/********Fin MAIN*********/

/********FOOTER***********/
footer{
    margin: 50px;
    text-align: center;
}

/********************************************
RESPONSIVE
/*******************************************/
@media screen and (max-width: 1000px) {
    header nav {
        right: 50%;
        transform: translateX(50%);
    }
}
/**Média screen / média print***/